  

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    color: rgb(8, 8, 8);
}
.orange-highlight{
    color: orange;
}
.opu12 {
    color: rgb(4, 0, 255);
}
.half{
    width: 40%;
    float: right;
    margin-left: 3%;
    padding-left: 1%;
}
.half img{
    width: 100%;
}
.right-colum {
    width: 40%;
    float: left;
    margin-right: 5%;
    padding-left: 2%;
}

.right-colum img{
    width: 80%;

}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}


.talk {
    width: 40%;
   text-align: center;
   margin: 0px;
    padding-left: 30%;
}








.rap{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width: 300px;
    
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    float: left;
    margin: 10px;
    background-color: #f3c35ce3;


}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    .container{
        padding: 2px 16px;
    }


    .text-button{
        text-decoration: none;
        background-image: linear-gradient(45deg, rgb(211, 28, 28), tomato);
        padding: 20px 50px;
        border-radius: 5px;
        color: white;
        font-weight: 700;   
    }
    


    
      
      
